@namespace CDP4.COMET.HERMES.Components.Server
@inherits CDP4.COMET.HERMES.Components.Shared.DisposableComponent

<EditForm Context="editFormContext" Model="@this.ViewModel.AuthenticationDto" OnValidSubmit="@this.Authenticate">
    <DataAnnotationsValidator/>
    <DxFormLayout CaptionPosition="CaptionPosition.Vertical">
        <DxFormLayoutItem Caption="Source Address:" ColSpanLg="12">
            <Template>
                <DxTextBox Id="sourceaddress" @bind-Text="@(this.ViewModel.AuthenticationDto.SourceAddress)"
                           ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                           NullText="Enter the url for the server"
                           BindValueMode="BindValueMode.OnInput"
                           @onfocus="@(() => this.HandleFieldFocus("SourceAddress"))"
                           @onblur="@(() => this.HandleFieldBlur("SourceAddress"))"/>
            </Template>
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="UserName:" BeginRow="true" ColSpanLg="12">
            <Template>
                <DxTextBox Id="username" @bind-Text="@(this.ViewModel.AuthenticationDto.UserName)"
                           ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                           NullText="Enter your username"
                           BindValueMode="BindValueMode.OnInput"
                           @onfocus="@(() => this.HandleFieldFocus("UserName"))"
                           @onblur="@(() => this.HandleFieldBlur("UserName"))"/>
            </Template>
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Password:" BeginRow="true" ColSpanLg="12">
            <Template>
                <DxTextBox Id="password" @bind-Text="@(this.ViewModel.AuthenticationDto.Password)"
                           ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                           NullText="Enter your password"
                           BindValueMode="BindValueMode.OnInput"
                           @onfocus="@(() => this.HandleFieldFocus("Password"))"
                           @onblur="@(() => this.HandleFieldBlur("Password"))"
                           Password="true"/>
            </Template>
        </DxFormLayoutItem>
    </DxFormLayout>

    <ul class="validation-errors">
        @foreach (var fieldFocusedStatus in this.FieldsFocusedStatus)
        {
            if (fieldFocusedStatus.Value)
            {
                continue;
            }

            @if (fieldFocusedStatus.Key == "SourceAddress" && !string.IsNullOrEmpty(editFormContext.GetValidationMessages(() => this.ViewModel.AuthenticationDto.SourceAddress).FirstOrDefault()))
            {
                <li class="validation-message">
                    <ValidationMessage For="() => this.ViewModel.AuthenticationDto.SourceAddress"/>
                </li>
            }

            @if (fieldFocusedStatus.Key == "UserName" && !string.IsNullOrEmpty(editFormContext.GetValidationMessages(() => this.ViewModel.AuthenticationDto.UserName).FirstOrDefault()))
            {
                <li class="validation-message">
                    <ValidationMessage For="() => this.ViewModel.AuthenticationDto.UserName"/>
                </li>
            }

            @if (fieldFocusedStatus.Key == "Password" && !string.IsNullOrEmpty(editFormContext.GetValidationMessages(() => this.ViewModel.AuthenticationDto.Password).FirstOrDefault()))
            {
                <li class="validation-message">
                    <ValidationMessage For="() => this.ViewModel.AuthenticationDto.Password"/>
                </li>
            }
        }
    </ul>

    @if (!string.IsNullOrEmpty(this.ErrorMessage))
    {
        <div class="form-group row m-top-10px">
            <label class="text-danger">@this.ErrorMessage</label>
        </div>
    }

    <div class="modal-footer">
        <DxButton Id="connectbtn" Text="@(this.LoginButtonDisplayText)" CssClass="btn btn-connect"
                  Enabled="@this.LoginEnabled"
                  SubmitFormOnClick="true"/>
    </div>
</EditForm>